{% extends 'base.html' %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block sidebar %}
    {% include 'ink/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% for item in news %}
        <div class="card mb-3">
            <div class="card-header">
                Категория: {{ item.category.title }}
            </div>
            <div class="card-body">
                <div class="media row">
                    <div class="photo col-md-4">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                        {% else %}
                            <img src="https://c.wallhere.com/photos/ce/cd/1600x1000_px_mountains_snow-1289259.jpg!s"
                                 alt="" class="mr-3">
                        {% endif %}
                    </div>
                    <div class="media-body col-md-8">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content|linebreaks|safe|truncatewords:100 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                {{ item.created_at|date:"Y-m-d H:i" }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
